@model IEnumerable<SummonersRiftShop.Models.Item>
@{
    //ViewData["Title"] = "Item list";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Summoner's Rift Shop</title>
</head>
<body>
</body>
</html>