@model IEnumerable<SummonersRiftShop.Models.Item>
@{
    ViewData["Title"] = "Item list";
}
<h3>Items</h3>
<table class="table-codensed">
    <tr>
        <td>Name</td>
        <td>Quality</td>
        <td>Effects</td>
        <td>Price</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quality</td>
            <td>@item.Effects</td>
            <td>@item.Price</td>
            <td><a href="~/Home/Buy/@item.Id">Buy</a></td>
        </tr>
    }
</table>